@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Jordan Kozak and I am a senior at Ohio University studying Information Systems and Business Analytics. I'm from Pickerington, Ohio and am a member of Lambda Chi Alpha fraternity here at OU. I have an interest in consulting as well as analytics.</p>
