@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    97 Mill St<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.849.2672
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jk468115@ohio.edu">jk468115@ohio.edu</a><br />
    
</address>