@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>About the Website</h1>
    <p class="lead">This website will be used for my time in MIS 4200. I look forward to learning through homework assignments and projects.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SD #2</h2>
        <p>
            @Html.ActionLink("Students", "Index", "Students") <br />
            @Html.ActionLink("Courses", "Index", "Courses") <br />
            @Html.ActionLink("Registrations", "Index", "Registrations")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Future Plans</h2>
        <p>Post-Graduation I plan to get a job in the field of business analytics, preferably in or around Columbus, Ohio.</p>
    </div>
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>I'm an avid fan of hockey and soccer. For the NHL, I support the Columbus Blue Jackets. In soccer, I follow West Ham United in the English Premier League.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/bluejackets">Blue Jackets Website &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.whufc.com/">West Ham's Website &raquo;</a></p>
    </div>
</div>